{% extends 'base.html' %}
{% block content %}
    <div class="container mt-3" style="display: flex; align-items: center;justify-content: center;">
        <div class="col-md-5">
            <form method="POST" action="{% url 'createsurvey' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="survey_name" class="form-label">Название</label>
                    {{ form.survey_name }}
                </div>
                <div class="mb-3">
                    <label for="survey_description" class="form-label">Описание</label>
                    {{ form.survey_description }}
                </div>
                <div class="mb-3">
                    <label for="survey_name" class="form-label">Вопрос</label>
                    <input type="text" class="form-control" name="question_text">
                </div>
                <select class="form-select mb-3" aria-label="Default select example" name="question_type">
                    <option selected>Тип вопроса</option>
                    <option value="1">Ответ текстом</option>
                    <option value="2">Выбор одного ответа</option>
                    <option value="3">Выбор нескольких ответов</option>
                </select>
                <div class="mb-3" id="choises">
                    <label for="survey_name" class="form-label">Варианты ответа (-ов) | Максимум 10 вариантов</label>
                    <input type="text" class="form-control" name="choice_1">
                    <a class="btn btn-primary mt-3" onclick="AddChoise();">Добавить вариант</a>
                </div>
                {{ form.end_date }}
                <hr>
                <div class="mb-3" style="display: flex; align-items: center;justify-content: center;">
                    <button type="submit" class="btn btn-primary">Создать</button>
                </div>
            </form>
        </div>
    </div>
    <script>
    var i = 2;
    function AddChoise() {
        if (i < 11){
            document.getElementById('choises').insertAdjacentHTML("beforeend", '<input type="text" class="form-control mt-3" name="choice_'+i+'">');
            i += 1;
            console.log(i)}
    }
    </script>
{% endblock %}